In [2]:
import pandas as pd

/tmp/ipykernel_8798/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
import matplotlib.pyplot as plt

## Loading the dataset

In [4]:
data = pd.read_csv("dataset.csv")

In [6]:
data.head()

,Year,Quarter,GDP_Growth,Inflation,Industrial_Production,Job_Market,Recession_Indicator
0,2016,Q1,3.866202,5.795522,4.063915,72806,0
1,2013,Q1,6.624839,4.008880,0.301156,51465,0
2,2022,Q4,3.469627,6.322668,-3.622371,64109,0
3,2020,Q3,3.907552,1.415962,-1.309438,53528,1
4,2017,Q4,1.586789,1.885589,2.220974,39230,0

## Preprocessing

In [7]:
data.isnull()

,Year,Quarter,GDP_Growth,Inflation,Industrial_Production,Job_Market,Recession_Indicator
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False

In [8]:
data.isnull().sum()

Year                     0
Quarter                  0
GDP_Growth               0
Inflation                0
Industrial_Production    0
Job_Market               0
Recession_Indicator      0
dtype: int64

#### Clearly Visible , there is no null , so our data is cleaned then proceeding to select features and target

In [10]:
X = data[['GDP_Growth', 'Inflation', 'Industrial_Production', 'Job_Market']]

In [14]:
y = data['Recession_Indicator']

### Splitting data for training and testing

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

## Standardizing the features

In [ ]:
scaler = StandardScaler()