In [1]:
import pandas as pd

/tmp/ipykernel_9924/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Loading the dataset

In [2]:
data = pd.read_csv("dataset.csv")

In [ ]:
data.head()

## Preprocessing

In [3]:
data.isnull()

,Year,Quarter,GDP_Growth,Inflation,Industrial_Production,Job_Market,Recession_Indicator
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False

In [4]:
data.isnull().sum()

Year                     0
Quarter                  0
GDP_Growth               0
Inflation                0
Industrial_Production    0
Job_Market               0
Recession_Indicator      0
dtype: int64

#### Clearly Visible , there is no null , so our data is cleaned then proceeding to select features and target

#### Let's transform Quarter character values into integer for numerical data

In [6]:
X = data[['Year','Quarter','GDP_Growth','Inflation', 'Industrial_Production', 'Job_Market']]

In [7]:
y = data['Recession_Indicator']

In [8]:
X

      Year Quarter  GDP_Growth  Inflation  Industrial_Production  Job_Market
0     2016      Q1    3.866202   5.795522               4.063915       72806
1     2013      Q1    6.624839   4.008880               0.301156       51465
2     2022      Q4    3.469627   6.322668              -3.622371       64109
3     2020      Q3    3.907552   1.415962              -1.309438       53528
4     2017      Q4    1.586789   1.885589               2.220974       39230
...    ...     ...         ...        ...                    ...         ...
2995  2021      Q1    3.154164  12.653804               0.783076       43332
2996  2020      Q3    6.825993   2.673752               2.006138       10066
2997  2017      Q4    8.714885  13.569079               1.546320       42313
2998  2011      Q4    2.374860   5.110002              -4.509416       70857
2999  2015      Q1    9.789196   5.656680              -3.963961       48900

[3000 rows x 6 columns]